name: Deploy Website CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup SSH
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SERVER_IP: ${{ secrets.SERVER_IP }}
        run: |
          if [ -z "$SERVER_IP" ] || [ -z "$SSH_PRIVATE_KEY" ]; then
            echo "Secret kosong âŒ"
            exit 1
          fi

          mkdir -p $HOME/.ssh
          echo "$SSH_PRIVATE_KEY" > $HOME/.ssh/id_rsa
          chmod 600 $HOME/.ssh/id_rsa

      - name: Test SSH Connection
        env:
          SERVER_USER: ${{ secrets.SERVER_USER }}
          SERVER_IP: ${{ secrets.SERVER_IP }}
        run: |
          ssh -o StrictHostKeyChecking=no \
              -o ConnectTimeout=10 \
              -p 8022 \
              -i $HOME/.ssh/id_rsa \
              $SERVER_USER@$SERVER_IP "echo SSH CONNECTED"

      - name: Deploy to Server
        env:
          SERVER_USER: ${{ secrets.SERVER_USER }}
          SERVER_IP: ${{ secrets.SERVER_IP }}
          DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
        run: |
          rsync -avz --delete \
            --timeout=20 \
            -e "ssh -o StrictHostKeyChecking=no -p 8022 -i $HOME/.ssh/id_rsa" \
            ./ \
            "$SERVER_USER@$SERVER_IP:$DEPLOY_PATH"